body {
    font-family: 'Source Sans Pro', sans-serif, 'Courier New', Courier, monospace;
    font-size: 17px;
}

header {
    border-bottom: 1px solid #777;
    margin: 1rem;
    display: flex;
}

header h1 a {
    color: #55775c;
    text-decoration: none;
}

.nav-left {
    margin-right: auto;
}

.nav-right {
    display: flex;
    padding-bottom: 1rem;
}