{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, , shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>{% block title %}TODO List App{% endblock title %}</title>
</head>

<body>

    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">TODO</a></h1>
        </div>
        <div class="nav-right">
            <h1><a href="{% url 'todo_new' %}">+ New Todo</a></h1>
        </div>
    </header>

    <div class="container top-buffer">
        {% block body %}{% endblock body %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/cjs/popper-base.min.js"
        integrity="sha512-8HiWUesn4r9qrvn1ILSStCoNo1K85ZabvYe81YGOHF5XTHvJSVK3HZtjzc3PFATwbHUzd6zFyb/3CdFyntyAAw=="
        crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

</body>

</html>